<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta data-hid="description" name="description" content="xy-ui" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <title>Loading</title>
</head>

<body>
    <div id="app">
        <div class="demo">
            <h3>Loading Default</h3>
            <ul>
                <li v-if="!load">
                    <div v-xy-loading="!load"></div>
                    <p v-xy-loading.multiple="{loading:!load}"></p>
                </li>
                <li v-if="!load">
                    <p v-xy-loading.multiple="{loading:!load}"></p>
                </li>
                <li v-for="(item,index) in  listDefault" :key="index">
                    <div v-if="item.img">
                        <xy-lazyload width="100px" height="100px" :src="'http://dummyimage.com/100x100'" size="cover">
                        </xy-lazyload>
                    </div>
                    <p v-html="item.txt">
                    </p>
                </li>
            </ul>
            <h3>Loading with max line and min line</h3>
            <ul>
                <li v-if="!load">
                    <div v-xy-loading="!load"></div>
                    <p v-xy-loading.multiple="{loading:!load,max:5,min:4}"></p>
                </li>
                <li v-if="!load">
                    <p v-xy-loading.multiple="{loading:!load,max:5}"></p>
                </li>
                <li v-if="!load">
                    <div v-xy-loading="!load"></div>
                    <p v-xy-loading.multiple="{loading:!load,max:6,min:3}"></p>
                </li>
                <li v-if="!load">
                    <p v-xy-loading.multiple="{loading:!load,max:10}"></p>
                </li>
                <li v-for="(item,index) in  listMaxMin" :key="index">
                    <div v-if="item.img">
                        <xy-lazyload width="100px" height="100px" :src="'http://dummyimage.com/100x100'" size="cover">
                        </xy-lazyload>
                    </div>
                    <p v-html="item.txt">
                    </p>
                </li>
            </ul>
            <h3>Loading with other color</h3>
            <ul>
                <li v-if="!load">
                    <div v-xy-loading="{loading:!load,color:'green'}"></div>
                    <p v-xy-loading.multiple="{loading:!load,color:'green'}"></p>
                </li>
                <li v-if="!load">
                    <div v-xy-loading="{loading:!load,color:'blue'}"></div>
                    <p v-xy-loading.multiple="{loading:!load,color:'blue'}"></p>
                </li>
                <li v-for="(item,index) in  listColor" :key="index">
                    <div v-if="item.img">
                        <xy-lazyload width="100px" height="100px" :src="'http://dummyimage.com/100x100'" size="cover">
                        </xy-lazyload>
                    </div>
                    <p v-html="item.txt">
                    </p>
                </li>
            </ul>
            <h3>Config</h3>
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Default</th>
                </tr>
                <tr>
                    <th colspan="4">v-xy-loading="loading"</th>
                </tr>
                <tr>
                    <td>loading</td>
                    <td>Is loading</td>
                    <td>Boolean</td>
                    <td>false</td>
                </tr>
                <tr>
                    <th colspan="4">v-xy-loading="{loading:false,color:'#efefef'}"</th>
                </tr>
                <tr>
                    <td>loading</td>
                    <td>Is loading</td>
                    <td>Boolean</td>
                    <td>false</td>
                </tr>
                <tr>
                    <td>color</td>
                    <td>Background color</td>
                    <td>String</td>
                    <td>'#efefef'</td>
                </tr>
                <tr>
                    <th colspan="4">Multiple line<br>v-xy-loading:multiple<br>="{loading:false,max:3,min:3}"</th>
                </tr>
                <tr>
                    <td>loading</td>
                    <td>Is loading</td>
                    <td>Boolean</td>
                    <td>false</td>
                </tr>
                <tr>
                    <td>color</td>
                    <td>Background color</td>
                    <td>String</td>
                    <td>'#efefef'</td>
                </tr>
                <tr>
                    <td>max</td>
                    <td>Max line</td>
                    <td>Number</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>min</td>
                    <td>Min line</td>
                    <td>Number</td>
                    <td>3</td>
                </tr>
            </table>
        </div>
    </div>
    <script src="../vue@2.6.10.js"></script>
    <script src="../dist/xy-ui.js"></script>
    <link rel="stylesheet" href="./demo.css" />
    <style>
        .demo>ul>li {
            display: flex;
            margin: 0 5px;
            padding: 5px 0;
        }

        .demo>ul>li:not(:first-child) {
            border-top: 1px dashed #efefef;
        }

        .demo>ul>li>div {
            margin-right: 5px;
            width: 100px;
            height: 100px;
        }

        .demo>ul>li>p {
            width: 0;
            flex-grow: 1;
            font-size: 14px;
            color: #666;
            min-height: 100px;
        }
    </style>
    <script>
        new Vue({
            el: '#app',
            mixins: [],
            components: {},
            data() {
                return {
                    load: false,
                    listDefault: [],
                    listMaxMin: [],
                    listColor: []
                }
            },
            computed: {},
            watch: {},
            created() { },
            mounted() {
                setTimeout(() => {
                    this.listDefault = [
                        {
                            img: 'http://dummyimage.com/100x100',
                            txt:
                                '通知通知通知通知通知通知通知通知通知通知通知通知通知通知通知通知通知通知通知'
                        },
                        {
                            txt:
                                '通知通知通知通知通知通知通知通知通知通知通知通知通知通知通知通知通知'
                        }
                    ]
                    this.listMaxMin = [
                        {
                            img: 'http://dummyimage.com/100x100',
                            txt:
                                '通知通知通知通知通知通知通知通知通知通知通知通知通知通知通知通知通知通知通知'
                        },
                        {
                            txt:
                                '通知通知通知通知通知通知通知通知通知通知通知通知通知通知通知通知通知'
                        },
                        {
                            img: 'http://dummyimage.com/100x100',
                            txt:
                                '通知通知通知通知通知通知通知通知通知通知通知通知通知通知通知通知'
                        },
                        {
                            txt:
                                '通知通知通知通知通知通知通知通知通知通知通知通知通知通知通知通知通知通知通知通知通知通知通知通知通知通知'
                        }
                    ]
                    this.listColor = [
                        {
                            img: 'http://dummyimage.com/100x100',
                            txt:
                                '通知通知通知通知通知通知通知通知通知通知通知通知通知通知通知通知通知通知通知'
                        },
                        {
                            txt:
                                '通知通知通知通知通知通知通知通知通知通知通知通知通知通知通知通知通知'
                        }
                    ]
                    // console.log(JSON.stringify(this.list))
                    // this.$nextTick(() => {
                    this.load = true
                    // })
                }, 6000)
            },
            beforeDestroy() { },
            methods: {},
            provide() {
                return {}
            }
        })
    </script>
</body>

</html>