<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />
    <meta data-hid="description" name="description" content="xy-ui" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <title>Validate</title>
    <link rel="stylesheet" href="../dist/xy-ui.css" />
    <link rel="stylesheet" href="./demo.css" />
    <style>
      .sample {
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div class="sample">
        <h3>url地址</h3>
        <input type="text" placeholder="please input" v-model="url" />
        <div><label for="">check: </label>{{ urlMsg }}</div>

        <h3>邮箱地址</h3>
        <input type="text" placeholder="please input" v-model="email" />
        <div><label for="">check: </label>{{ emailMsg }}</div>

        <h3>身份证</h3>
        <input type="text" placeholder="please input" v-model="idCard" />
        <div><label for="">check: </label>{{ idCardMsg }}</div>

        <h3>港澳台居民居住证</h3>
        <input
          type="text"
          placeholder="please input"
          v-model="residencePermit"
        />
        <div><label for="">check: </label>{{ residencePermitMsg }}</div>

        <h3>统一社会信用代码</h3>
        <input type="text" placeholder="please input" v-model="creditCode" />
        <div><label for="">check: </label>{{ creditCodeMsg }}</div>

        <h3>外国人永久居留身份证</h3>
        <input
          type="text"
          placeholder="please input"
          v-model="chinagreenCard"
        />
        <div><label for="">check: </label>{{ chinagreenCardMsg }}</div>

        <h3>军人证件号</h3>
        <input type="text" placeholder="please input" v-model="militaryCard" />
        <div><label for="">check: </label>{{ militaryCardMsg }}</div>

        <h3>回乡证</h3>
        <input
          type="text"
          placeholder="please input"
          v-model="homeReturnPermit"
        />
        <div><label for="">check: </label>{{ homeReturnPermitMsg }}</div>

        <h3>护照</h3>
        <input type="text" placeholder="please input" v-model="passport" />
        <div><label for="">check: </label>{{ passportMsg }}</div>

        <h3>营业执照</h3>
        <input
          type="text"
          placeholder="please input"
          v-model="businessLicense"
        />
        <div><label for="">check: </label>{{ businessLicenseMsg }}</div>

        <h3>手机号码</h3>
        <input type="text" placeholder="please input" v-model="mobile" />
        <div><label for="">check: </label>{{ mobileMsg }}</div>

        <h3>中文姓名</h3>
        <input type="text" placeholder="please input" v-model="cnName" />
        <div><label for="">check: </label>{{ cnNameMsg }}</div>

        <h3>金额</h3>
        <input type="text" placeholder="please input" v-model="price" />
        <div><label for="">check: </label>{{ priceMsg }}</div>
      </div>
      <h3>Config</h3>
      
      <table border="0" cellpadding="0" cellspacing="0">
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Type</th>
          <th>Default</th>
        </tr>
        <tr>
          <th colspan="4">
            vm.this.$xyValidate.url(target)
          </th>
        </tr>
        <tr>
          <th colspan="4">
            vm.this.$xyValidate.email(target)
          </th>
        </tr>
        <tr>
          <th colspan="4">
            vm.this.$xyValidate.idCard(target)
          </th>
        </tr>
        <tr>
          <th colspan="4">
            vm.this.$xyValidate.residencePermit(target)
          </th>
        </tr>
        <tr>
          <th colspan="4">
            vm.this.$xyValidate.creditCode(target)
          </th>
        </tr>
        <tr>
          <th colspan="4">
            vm.this.$xyValidate.chinagreenCard(target)
          </th>
        </tr>
        <tr>
          <th colspan="4">
            vm.this.$xyValidate.militaryCard(target)
          </th>
        </tr>
        <tr>
          <th colspan="4">
            vm.this.$xyValidate.homeReturnPermit(target)
          </th>
        </tr>
        <tr>
          <th colspan="4">
            vm.this.$xyValidate.passport(target)
          </th>
        </tr>
        <tr>
          <th colspan="4">
            vm.this.$xyValidate.businessLicense(target)
          </th>
        </tr>
        <tr>
          <th colspan="4">
            vm.this.$xyValidate.mobile(target)
          </th>
        </tr>
        <tr>
          <th colspan="4">
            vm.this.$xyValidate.cnName(target)
          </th>
        </tr>
        <tr>
          <th colspan="4">
            vm.this.$xyValidate.price(options)(target) <br />
            options: {fixed:2,min:-Infinity,max:Infinity,len:8}
          </th>
        </tr>
        <tr>
          <td>fixed</td>
          <td>Fixed length</td>
          <td>Number</td>
          <td>2</td>
        </tr>
        <tr>
          <td>min</td>
          <td>Min value</td>
          <td>Number</td>
          <td>-Infinity</td>
        </tr>
        <tr>
          <td>max</td>
          <td>Max value</td>
          <td>Number</td>
          <td>Infinity</td>
        </tr>
        <tr>
          <td>len</td>
          <td>Number length before dot</td>
          <td>Number</td>
          <td>8</td>
        </tr>
      </table>
    </div>
    <script src="../vue@2.6.10.js"></script>
    <script src="../dist/xy-ui.js"></script>
    <script>
      new Vue({
        el: '#app',
        data() {
          return {
            url: 'http://www.google.com',
            email: '179740385@qq.com',
            idCard: '',
            residencePermit: '',
            creditCode: '',
            chinagreenCard: '',
            militaryCard: '',
            homeReturnPermit: '',
            passport: '',
            businessLicense: '',
            mobile: '18507567777',
            cnName: '杨某某',
            price: 12.45
          }
        },
        computed: {
          urlMsg() {
            let msg = this.$xyValidate.url(this.url).msg
            return msg ? msg : 'pass'
          },
          emailMsg() {
            let msg = this.$xyValidate.email(this.email).msg
            return msg ? msg : 'pass'
          },
          idCardMsg() {
            let msg = this.$xyValidate.idCard(this.idCard).msg
            return msg ? msg : 'pass'
          },
          residencePermitMsg() {
            let msg = this.$xyValidate.residencePermit(this.residencePermit).msg
            return msg ? msg : 'pass'
          },
          creditCodeMsg() {
            let msg = this.$xyValidate.creditCode(this.creditCode).msg
            return msg ? msg : 'pass'
          },
          chinagreenCardMsg() {
            let msg = this.$xyValidate.chinagreenCard(this.chinagreenCard).msg
            return msg ? msg : 'pass'
          },
          militaryCardMsg() {
            let msg = this.$xyValidate.militaryCard(this.militaryCard).msg
            return msg ? msg : 'pass'
          },
          homeReturnPermitMsg() {
            let msg = this.$xyValidate.homeReturnPermit(this.homeReturnPermit)
              .msg
            return msg ? msg : 'pass'
          },
          passportMsg() {
            let msg = this.$xyValidate.passport(this.passport).msg
            return msg ? msg : 'pass'
          },
          businessLicenseMsg() {
            let msg = this.$xyValidate.businessLicense(this.businessLicense).msg
            return msg ? msg : 'pass'
          },
          mobileMsg() {
            let msg = this.$xyValidate.mobile(this.mobile).msg
            return msg ? msg : 'pass'
          },
          cnNameMsg() {
            let msg = this.$xyValidate.cnName(this.cnName).msg
            return msg ? msg : 'pass'
          },
          priceMsg() {
            let msg = this.$xyValidate.price({
              fixed: 2,
              min: 1,
              max: 100,
              len: 2
            })(this.price).msg
            return msg ? msg : 'pass'
          }
        },
        methods: {},
        mounted() {}
      })
    </script>
  </body>
</html>
