#app {
  padding-bottom: 1px;
}
table {
  width: 96vw;
  margin: 2vw auto;
  table-layout: fixed;
  font-size: 12px;
  color: #333;
}
table th,
table td {
  border: 1px solid #999;
  padding: 0.5em;
  text-align: center;
  word-break: break-all;
}

h3 {
  padding: 0.5em;
  margin: 0;
  color: #444;
  position: relative;
}

h3:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #ccc;
  transform: scale(1, 0.5);
}

h3 ~ div {
  padding: 0 1em 1em 1em;
}

h3 + div {
  padding: 1em;
}

h4 {
  background-color: #eee;
  padding: 0.3em 1em;
  margin: 1em 0;
  color: #444;
}

a {
  cursor: pointer;
  color: #444;
  text-decoration: none;
}

a:visited {
  color: #444;
}

button {
  border: 1px solid #666;
  padding: 5px;
  cursor: pointer;
}

input {
  border: 1px solid #333;
  width: calc(100% - 2em);
  margin: 1em;
}

.iconfont {
  font-size: 32px;
  vertical-align: middle;
  margin-right: 10px;
  color: #ffb443;
}
